$color-primary-dark: #081013;


$primary-font: 'Montserrat', 'sans-serif';
$secondary-font: 'Open Sans', 'sans-serif';
$primary-font-color: #f5f5f5;



//Media query breakpoints
$bp-largest: 75em; // 1200/16 =75em
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
$bp-smaller: 31.25em; // 500px
$bp-smallest: 25em; // 400px
$bp-mini: 21.86em; // 350px



@mixin social-icons {
    height: 3.5rem;
    width: 3.5rem;
    color: $primary-font-color;
    padding: 2rem;
    justify-content: center;
}

@mixin portfolio-container {
    @media only screen and (max-width: $bp-large) {
        width: 100%;
        justify-self: center;
        margin-bottom: 2rem;
    }
}

@mixin portfolio-info{
    text-align: center;
    color: $primary-font-color;
    text-transform: capitalize;
    font-family: $secondary-font;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 5rem;
    overflow: hidden;

    :nth-child(5) {
        margin-bottom: 3rem;
    }

    @media only screen and (max-width: $bp-largest) {
        font-size: 1.5rem;
        line-height: 3rem;
    }

    @media only screen and (max-width: $bp-smaller) {
        margin-top: 3rem;
    }

    @media only screen and (min-width: $bp-largest) {
        font-size: 2rem;
        font-weight: 400;
        line-height: 3.5rem;
        
    }
}

@keyframes moveInUp {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }

    60% {
        transform: translateY(2rem);
    }

    80% {
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes popoverFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes pulse-white {
    0% {
        border-radius: 100%;
        box-shadow: 0 0 0 0 white;
    }

    70% {
        border-radius: 100%;
        box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
    }

    100% {
        border-radius: 100%;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}


*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1 rem = 10px
    scroll-behavior: smooth;
    overflow-x: hidden;
    max-width: 100%;


    @media only screen and (max-width: $bp-smallest) {
        font-size: 55%;
        max-width: 100%;
        overflow-x: hidden;
    }
}

body {
    color: $primary-font-color;
    background-color: black;
    overflow-anchor: none;
    overflow: hidden;
    font-weight: 300;
    line-height: 1.6;
}

a {
    text-decoration: none;
}


.container {
    display: grid;
    grid-template-columns: 8rem [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem)[col-end]) [center-end] 8rem [full-end];
    grid-template-rows: 100vh 40vh min-content  repeat(4,min-content);
    background-image:
        radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 4px),
        radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 3px),
        radial-gradient(white, rgba(255, 255, 255, .5) 1px, transparent 3px),
        radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 1px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;

    @media only screen and (max-width: $bp-largest) {
        grid-template-rows: 100vh 50vh min-content 50vw repeat(4, min-content);
    }

    @media only screen and (max-width: $bp-large) {
        grid-template-rows: 100vh 75vh min-content max-content repeat(4, min-content);
    }

    @media only screen and (max-width: $bp-medium) {
        grid-template-rows: 100vh max-content min-content max-content repeat(4, min-content);

    }

}