$color-primary-dark: #081013;


$primary-font: 'Montserrat', 'sans-serif';
$secondary-font: 'Open Sans', 'sans-serif';

//Media query breakpoints
$bp-largest: 75em; // 1200/16 =75em
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
$bp-smallest:25em; //400px



*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;


}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1 rem = 10px
    scroll-behavior: smooth;

    @media only screen and (max-width: $bp-smallest){
        font-size: 50%;
    }
}

body {
    font-family: white;
    background-color: $color-primary-dark;

    font-weight: 300;
    line-height: 1.6;
}

//need to fix spacing on screen resizing. row gap?

.container {
    display: grid;
    grid-template-columns: 8rem [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem)[col-end]) [center-end] 8rem [full-end];
    grid-template-rows: 100vh 80vh 50vh 40vw repeat(4, min-content);

    // @media only screen and (max-width: 1140px){
    //     grid-template-rows: 100vh 60vh 40vh 40vw repeat(4, min-content);
    // }

    @media only screen and (max-width: $bp-large){
        grid-template-rows: 100vh 60vh 45vh 40vw repeat(4, min-content); 
    }

    @media only screen and (max-width: $bp-medium){
        grid-template-rows: 100vh max-content 45vh max-content repeat(4, min-content); 
    }

}