@import './base';


.certifications {

    background-color: $color-primary-dark;
    grid-column: full-start / center-end;
    grid-row: 3/ 3;
    color: whitesmoke;

    display: flex;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    justify-content: center;


    &__item {

        justify-self: center;
        align-self: center;

        &--1 {
            transform: translateY(-5rem);
            // margin-bottom: 10rem;
        }
    }
}

.cert-images {

    scale: .8;

}