@import './base';


.certifications {

    background-color: $color-primary-dark;
    grid-column: full-start / center-end;
    grid-row: 3/ 3;
    color: whitesmoke;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: repeat(6,1fr);


    &__item {

        scale: .8;

        @media only screen and (max-width: $bp-large) {
            scale: .6;
        }

        &--1 {
            // transform: translateY(-4.2rem);

            @media only screen and (max-width: $bp-smallest) {
                max-width: 100%;
                max-height: 100%;
                transform: translateY(4.2rem);

            }
        }

        &--2,
        &--3,
        &--4,
        &--5,
        &--6 {

            // transform: translateY(-4rem);
            @media only screen and (max-width: $bp-smallest) {
                transform: translateY(6.2rem);
            }
        }
    }
}