@import './base';

.footer{
    background-color: $color-primary-dark;
    color: white;
    grid-column: full-start/ center-end;
    grid-row: 5/5;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);


    .name {
        grid-row:2/2;
        grid-column: 2/2;

        font-family: $secondary-font;
        font-weight: 500;
        list-style: none;
        align-items: center;
        font-size: 1.4rem;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        transition: all .2s;

    

        &__link:active{
            background-color: rgba(#fff, .05);
            transform: translateY(-3px);
        }
    }

    &__icon{
        grid-row: 1/1;
        grid-column: 2/2;
        z-index: 10;
        color: white;
        font-size: 1.5rem;
        text-align: center;
    }
    
    .copyright{
        grid-row: 3/3;
        grid-column: 2/2;
        font-size: 1.4rem;
        text-align: center;
       
    }
}