@use 'variables' as *;
@use 'animations';
@use 'base';

.header {
    grid-column: 1/ full-end;
    grid-row: 1/1;
    background-image: linear-gradient(to bottom, rgba(255, 68, 68, 0.2), rgba(107, 0, 11, 0.75), rgba(0,0,0, 1)), url('../img/header-image.webp');
    background-size: cover;
    background-position: center;
    height: 100%;
    max-width: 100%;
    padding: 3rem 8rem 8rem 8rem;
    display: grid;
    grid-template-rows: 1fr 15vh minmax(6rem, min-content) 1fr;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-content: center;
    font-family: $primary-font;

    &__nav {
        display: flex;
        justify-content: center;
        grid-column: 2/6;
        list-style-type: none;

    

    &--item {
        color: $primary-font-color;
        text-decoration: underline;
        padding: 2rem;
        font-size: 2rem;
        font-weight: 500;

        @media only screen and (min-width:$bp-largest){
            font-size: 2.25rem;
        }

        @media only screen and (max-width: $bp-smaller) {
            padding: 1rem;
            font-weight: 500;
        }
    }
}

    &__h1 {
        justify-self: center;
        color: $primary-font-color;
        grid-column: 2/6;
        grid-row: 2/2;
        font-size: 6rem;
        letter-spacing: 5px;
        font-weight: 500;


        @media only screen and (max-width: $bp-largest) {
            font-size: 6rem;
            text-align: center;
        }


        @media only screen and (max-width: $bp-medium) {
            font-size: 5rem;
            grid-column: 1/-1;
        }



    }

    &__text {
        grid-column: 2/6;
        width: 70%;
        grid-row: 3/4;
        text-align: center;
        justify-self: center;
        font-size: 1.8rem;
        color: $primary-font-color;
        text-transform: capitalize;
        font-weight: 500;

        &::after {
            content: '';
            height: 1px;
            display: block;
            background-color: $primary-font-color;
        }

        @media only screen and (max-width: $bp-largest) {
            font-size: 1.6rem;
            width: 80%;
        }

        @media only screen and (max-width: $bp-small) {
            margin-top: 2rem;
            grid-column: 1/-1;
            width: 100%;
            
        }
    }

    &__social-list {
        grid-column: 2/6;
        grid-row: 4/4;
        justify-self: center;

        &::after {
            content: '';
            height: 1px;
            display: block;
            background-color: $primary-font-color;
        }

        li {
            list-style: none;
            display: inline;
        }

        @media only screen and (max-width: $bp-smaller) {
            grid-column: 1/-1;
        }
    }



    &__icons {
        height: 3.5rem;
        width: 3.5rem;
        z-index: 10;
        color: $primary-font-color;
        padding: 1.5rem;
        justify-content: center;
        animation: .8s ease-in moveInUp backwards;

        &--2 {
            animation-delay: .2s;
        }

        &--3 {
            animation-delay: .4s;
        }

        &--4 {
            animation-delay: .6s;
        }

        &:hover {
            transform: translateY(-.2rem);
        }

        @media only screen and (max-width:$bp-largest) {
            font-size: 4rem;
        }

        @media only screen and (max-width: $bp-medium) {
            padding: 1rem;
            height: 3.2rem;
            width: 3.2rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            padding: .75rem;
        }


    }


}