@import './base';

.header {
    background-color: red;
    grid-column: full-start /full-end;

    grid-column: full-start/ full-end;
    background-image: linear-gradient(rgba($color-secondary, .5), rgba($color-secondary, .25)), url('../../public/images/header-image.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    padding: 8rem;
    padding-top: 4rem;
    // display: grid;

    // grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
    // // grid-template-columns: 
   



    // &__h1 {
    //     font-size: 10rem;
    //     align-self: center;
    //     justify-self: center;
    //     color: white;
    // }

    // // gap: 100px;
}