@import './base';

.header {
    grid-column: full-start /center-end;
    grid-row: 1/1;

    background-image: linear-gradient(rgba(rgb(11, 10, 10), .45), rgba(rgb(2, 2, 2), .4)), url('../../public//images/header-image-4.webp');
    background-size: cover;
    background-position: center;
    height: 100%;
    max-width: 100%;
    padding: 8rem;
    overflow-x: none;
    padding-top: 4rem;
    display: grid;

    grid-template-rows: 1fr 15vh minmax(6rem, min-content) 1fr;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-content: center;
    font-family: $primary-font;
    font-weight: 300;

    @media only screen and (max-width: $bp-largest) {
        grid-column: 1/-1;
    }

    &__nav {
        display: flex;
        justify-content: center;
        grid-column: 2/6;
        list-style-type: none;



    }

    &__smoothscroll {
        color: white;
        padding: 2rem;
        font-size: 2rem;
        font-weight: 600;

        @media only screen and (max-width: $bp-smaller) {
            padding: 1rem;
            font-size: 1.75rem;
            font-weight: 600;
        }



    }

    &__h1 {
        justify-self: center;
        color: white;
        grid-column: 2/6;
        grid-row: 2/2;
        font-size: 8rem;
        letter-spacing: 5px;

        @media only screen and (max-width: $bp-largest) {
            font-size: 6rem;
            text-align: center;
        }

        @media only screen and (max-width: 1170px) {
            font-size: 5rem;
        }


    }

    &__text {
        grid-column: 3/span 2;
        grid-row: 3/4;
        text-align: center;
        justify-self: center;
        font-size: 1.8rem;
        color: white;
        text-transform: capitalize;
        font-weight: 400;


        &::after {
            content: '';
            height: 1px;
            display: block;
            background-color: white;
        }

        @media only screen and (max-width: $bp-largest) {
            font-size: 1.6rem;
        }


        @media only screen and (max-width: 900px) {
            font-size: 1.6rem;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 1.3rem;
            grid-column: 2/6;
            margin-top: 2rem;
        }
    }

    &__social {

        grid-column: 2/6;
        grid-row: 4/4;
        justify-self: center;
        transform: translateY(-2rem);

        // &::before,
        &::after {
            content: '';
            height: 1px;
            display: block;
            background-color: white;
        }

        li {
            list-style: none;
            display: inline;
        }

    }

    &__icons {
        height: 3.5rem;
        width: 3.5rem;
        z-index: 10;
        color: white;
        padding: 2rem;
        justify-content: center;

        &:hover {
            transform: translateY(-.2rem);
        }

        @media only screen and (max-width:$bp-largest) {
            font-size: 4rem;
        }

        @media only screen and (max-width: $bp-medium) {
            padding: .3rem;
            height: 3.2rem;
            width: 3.2rem;
        }
    }


}