@import './base';


.portfolio {
    background-color: $color-primary-dark;
    grid-column: full-start/ center-end;

    display: grid;
    grid-template-columns: 1fr repeat(6, 1fr) 1fr;
    grid-template-rows: repeat(5, 1fr);
    column-gap: 2rem;


    &__item {

        z-index: 1;
        border-radius: 50%;

        &--1 {
            grid-column: 2/4;
            grid-row: 1/5;
        }

        &--2 {
            grid-column: 4/6;
            grid-row: 1/5;
        }

        &--3 {
            grid-column: 6/8;
            grid-row: 1/5;
        }

        &:hover {
            transform: translateY(-.75rem);
            // opacity: .3;
        }
    }

    &__header {
        text-align: center;
        color: white;
        font-size: 2rem;

        &--yelp {
            text-align: center;
            color: white;
            font-size: 2rem;

        }

        &--draught {
            text-align: center;
            color: white;
            font-size: 2rem;

        }

        &--dnd {
            text-align: center;
            color: white;
            font-size: 2rem;
        }


    }

    .worksImg {
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: block;
        border-radius: 4px;


    }

}