@import './base';


.portfolio {
    background-color: $color-primary-dark;
    grid-column: full-start/ center-end;
    grid-row: 4/4;

    display: grid;
    grid-template-columns: 1fr repeat(6, 1fr) 1fr;
    grid-template-rows: repeat(5, 1fr);
    column-gap: 2rem;
    


    @media only screen and (max-width: $bp-medium) {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 2rem;
    }


    &__item {


        &--1 {
            background-image: url('../img/yelpCamp.webp');
            background-size: cover;
            background-position: center;
            grid-column: 2/4;
            grid-row: 2/6;

            &:hover {
                transition: .2s;
                transform: translateY(-.75rem);
                background-image: linear-gradient(rgba(rgb(11, 10, 10), .8), rgba(rgb(2, 2, 2), 1)), url('../img/yelpCamp.webp');
            }

            @media only screen and (max-width: $bp-medium) {
                grid-column: 2/6;
                grid-row: 1/1;
            }

        }

        &--2 {
            background-image: url('../img/draught-picker.webp');
            background-size: cover;
            background-position: center;
            grid-column: 4/6;
            grid-row: 2/6;

            &:hover {
                transition: .2s;
                transform: translateY(-.75rem);
                background-image: linear-gradient(rgba(rgb(11, 10, 10), .8), rgba(rgb(2, 2, 2), 1)), url('../img//draught-picker.webp');
            }

            @media only screen and (max-width: $bp-medium) {
                grid-column: 2/6;
                grid-row: 2/2;
            }
        }

        &--3 {
            background-image: url('../img/dnd-homepage.webp');
            background-size: cover;
            background-position: center;
            grid-column: 6/8;
            grid-row: 2/6;

            &:hover {
                transition: .2s;
                transform: translateY(-.5rem);
                background-image: linear-gradient(rgba(rgb(11, 10, 10), .8), rgba(rgb(2, 2, 2), 1)), url('../img/dnd-homepage.webp');
            }

            @media only screen and (max-width: $bp-medium) {
                grid-column: 2/6;
                grid-row: 3/3;
            }
        }

        &--hidden {
            text-align: center;
            color: white;
            font-size: 10rem;
            visibility: hidden;


        }

        &:hover &--hidden {
            visibility: visible;
        }

    }

    &__header {
        text-align: center;
        color: white;
        font-size: 2rem;

    }

    &__list {
        font-family: $secondary-font;
        font-weight: 500;
        text-transform: capitalize;
        font-size: 1.7rem;
        list-style: none;
        line-height: 5rem;
        margin-top: 7rem;
        overflow: hidden;

        @media only screen and (max-width: $bp-largest) {
            font-size: 1.25rem;
            line-height: 3rem;
            margin-top: 4rem;
        }

    }

}