@import './base';


.portfolio {
    background-color: $color-primary-dark;
    grid-column: full-start/ center-end;
    grid-row: 4/4;

    display: grid;
    grid-template-columns: 8px repeat(12, 1fr)8px;
    grid-template-rows: repeat(6, 1fr);
    column-gap: 2rem;

    @media only screen and (max-width: $bp-large) {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 2rem;
    }


    &__item {
        background-size: cover;
        background-position: center;
        border-radius: .5rem;
        display: grid;

        &--1 {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, min-content);
            grid-column: 2/6;
            grid-row: 2/6;


            @media only screen and (max-width: $bp-large) {
                grid-column: 2/6;
                grid-row: 1/1;
            }

            @media only screen and (max-width: $bp-small) {
                grid-column: 1/-1;
            }

        }

        &--yelp {
            object-fit: cover;
            width: 100%;
            grid-column: 1/-1;
            grid-row: 1/3;
        }

        &--list1 {
            @include portfolio-list;
        }


        //////////////////////////////////////////////////////////////////////////

        &--2 {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, min-content);

            grid-column: 6/10;
            grid-row: 2/6;



            @media only screen and (max-width: $bp-large) {
                grid-column: 2/6;
                grid-row: 2/2;
            }

            @media only screen and (max-width: $bp-small) {
                grid-column: 1/-1;
            }
        }

        &--draught {
            object-fit: cover;
            width: 100%;
            grid-column: 1/-1;
            grid-row: 1/3;

            // @media only screen and (min-width: $bp-medium) {
            //     display: none;
            // }
        }

        &--list2 {
            @include portfolio-list;
        }

        //////////////////////////////////////////////////////////////////////////



        &--3 {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, min-content);

            grid-column: 10/14;
            grid-row: 2/6;



            @media only screen and (max-width: $bp-large) {
                grid-column: 2/6;
                grid-row: 3/3;
            }

            @media only screen and (max-width: $bp-small) {
                grid-column: 1/-1;
            }
        }

        &--dnd {
            object-fit: cover;
            width: 100%;
            grid-column: 1/-1;
            grid-row: 1/1;
        }


        //////////////////////////////////////////////////////////////////////////
        &--hidden {
            text-align: center;
            color: white;
            font-size: 10rem;
            grid-column: 1/-1;
            grid-row: 3/3

        }
    }

    &__header {
        text-align: center;
        color: white;
        font-size: 2rem;

        @media only screen and (max-width: $bp-medium) {
            display: none;
        }

    }

    &__icons {
        height: 3.5rem;
        width: 3.5rem;
        color: white;
        padding: 2rem;
        &:hover {
            transform: translateY(-.2rem);
        }

        @media only screen and (max-width:$bp-largest) {
            font-size: 4rem;
        }

        @media only screen and (max-width: $bp-medium) {
            padding: .5rem;
            height: 3.2rem;
            width: 3.2rem;
        }


    }
}