$color-primary-dark: #081013;
$primary-font: 'Montserrat', 'sans-serif';
$secondary-font: 'Open Sans', 'sans-serif';
$primary-font-color: #f5f5f5;


$bp-largest: 75em; // 1200/16 =75em
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
$bp-smaller: 31.25em; // 500px
$bp-smallest: 25em; // 400px
$bp-mini: 21.86em; // 350px